/* For small screens */

button {
    width: 140px;
    height: 25px;
    color: rgb(95, 95, 255);
    border: 1px solid rgb(153, 153, 255);
    background-color: white;
    cursor: pointer;
    border-radius: 1vw;
    margin-left: 5px;
}

#header {
    color: white;
    background-color: rgb(255, 98, 98);
    display: block;
    height: 0px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.show {
    animation-duration: 4s;
    animation-name: show;
}

@keyframes show {
    0% {
        height: 0px;
        padding: 0%;
    }
    10% {
        height: 20px;
        padding: 0.3%;
    }
    10%, 95% {
        height: 20px;
        padding: 0.3%;
    }

    100% {
        height: 0px;
        padding: 0%;
    }
}

@keyframes bye {
    from {
        height: 20px;  
    }
    
    to {
        height: 0px;  
    }
}

#id-container {
    flex-grow: 1;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

#id-container:focus {
    border-bottom: 2px solid blue;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#go-back {
    margin-top: 20px;
}


.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.6s, opacity 0.6s linear;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.6s linear;
}

h1 {
    font-size: 8.95vw;
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Montserrat', sans-serif;
}

#panel {
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(153, 153, 255);
    padding: 0.5%;
    border-radius: 0.5vw;
    z-index: 3;
    width: 600px;
    height: 245px;
}

#look-up {
    width: 200px;
}

#panel-container {
    margin-top: 70px;
}

#profileData {
    margin-left: 10px;
}

input {
    width: 70vw;
    height: 20px;
    border: 2px solid black;
    outline: none;
    margin-left: 7.5px;
}

body {
    margin: 0;
    padding: 0;
}

#profile-image {
    border-radius: 50%;
    height: 244px;
}

#banner-img {
    width: 300px;
    height: 120px;
}

.container {
    z-index: 99999999;
    position: absolute;
    left: 50%;
    top: 42%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 600px;
}

/* https://github.com/BaseMax/RippleEffectCSS */
[effect=ripple] {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
[effect=ripple]:before {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transform-origin: center;
    top: calc(var(--y) * 1px);
    left: calc(var(--x) * 1px);
    width: calc(var(--d) * 1px);
    height: calc(var(--d) * 1px);
    background: var(--ripple-background, rgb(111, 133, 255));
    transform: translate(-50%, -50%) scale(var(--s, 1));
    opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));
    transition: calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing, linear);
}